.login-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 2rem;
  background-color: #AAAAF7;
}

.login-button-container {
  display: flex;
  justify-content: right;
  margin: 0.5rem;
}

.login-button {
  background-color: #F7F684;
}

.spinner-login {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.error {
  display: flex;
  flex-direction: column;
}